<div class="container">
    <div class="userPrompt">
        <table class="userViewTable">
            <thead>
                <tr>
                    <th class="userColumn header">
                        Users<mat-icon (click)="addTopicUser('User')">add_circle</mat-icon></th>
                    <th class="actionColumn">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdColumn">John Doe</td>
                    <td class="actionColumn"><mat-icon>delete</mat-icon></td>
                </tr>
                <tr>
                    <td class="tdColumn">Jane Smith</td>
                    <td class="actionColumn"><mat-icon>delete</mat-icon></td>
                </tr>
                <tr>
                    <td class="tdColumn">Michael Johnson</td>
                    <td class="actionColumn"><mat-icon>delete</mat-icon></td>
                </tr>
                <tr>
                    <td class="tdColumn">Sarah Williams</td>
                    <td class="actionColumn"><mat-icon>delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="topicPrompt">
        <table class="topicViewTable">
            <thead>
                <tr>
                    <th class="userColumn header">
                        Topics<mat-icon (click)="addTopicUser('Topic')">add_circle</mat-icon></th>
                    <th class="actionColumn">Permission</th>
                    <th class="actionColumn">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tdColumn">John Doe</td>
                    <td></td>
                    <td class="actionColumn"><mat-icon>delete</mat-icon></td>
                </tr>
                <tr>
                    <td class="tdColumn">Jane Smith</td>
                    <td></td>
                    <td class="actionColumn"><mat-icon>delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>